<section class="howitwork-container">

    <p class="title">Como funciona</p>


    <div class="howitwork-inner-container">
        <div class="howitwork-card">
            <p class="howitwork-todo">
                CADASTRE-SE
            </p>
        </div>
        <div class="howitwork-card">
            <p class="howitwork-todo">
                LAPIDE AS PEDRAS
            </p>
        </div>
        <div class="howitwork-card">
            <p class="howitwork-todo card-3">
                ESCOLHA A SUA FAVORITA
            </p>
        </div>
    </div>
    <button [routerLink]="'/login'">Quero me cadastrar agora</button>
</section>