<h1>How to exchange data between components</h1>

<h3>Data Flow - Parent to Children</h3>

<P>Sending data from parent to children is very similar with React js. You bind props to the component tag and receive
    the data on ngOnInit by asigning that to a new variable with the input decorator. @Input.
</P>

<h3>Exemple @Input() usage - Step by step</h3>


<ol>
    <li>Create a new variable on topic1 component with a string value</li>
    <li>Create a new component and use it´s selector here on topic1 html file.This new component will be the child.</li>
    <li>Set a property bing on child selector with the value as the variable name you want to pass to child component.
    </li>
    <li>Open the gate to receive the variable with @Input() on child component. Declare the property binding as a
        variable on child component.That´s ít.</li>
</ol>

<hr>

<app-children1 [dataFromParent]="messageFromParent"></app-children1>

<h3>Data Flow - Child to parent</h3>

<p>To pass data from child to parent in react you must sento to child component a function and set args so parent
    component can access them . That´s how you can send data from child to parent in react.</p>
<p>But, what about Angular? How does it work?Well.. lets see.</p>

<p>There is two ways to pass data from child to parent component on Angular:</p>

<h3>1- @ViewChild Decorator</h3>

<h3>Exemple @ViewChild() usage - Step by step</h3>