<button routerLink="/">Voltar</button>
<h1>How to exchange data between components</h1>

<h3>Data Flow - Parent to Children</h3>

<P>Sending data from parent to children is very similar with React js. You bind props to the component tag and receive
    the data on ngOnInit by asigning that to a new variable with the input decorator. @Input.
</P>

<h3>Exemple @Input() usage - Step by step</h3>


<ol>
    <li>Create a new variable on topic1 component with a string value</li>
    <li>Create a new component and use it´s selector here on topic1 html file.This new component will be the child.</li>
    <li>Set a property bing on child selector with the value as the variable name you want to pass to child component.
    </li>
    <li>Open the gate to receive the variable with @Input() on child component. Declare the property binding as a
        variable on child component.That´s ít.</li>

</ol>

<hr>

<app-children1 [dataFromParent]="messageFromParent"></app-children1>

<h3>Data Flow - Child to parent</h3>

<p>To pass data from child to parent in react you must sento to child component a function and set args so parent
    component can access them . That´s how you can send data from child to parent in react.</p>
<p>But, what about Angular? How does it work?Well.. lets see.</p>

<p>There is two ways to pass data from child to parent component on Angular:</p>
<br />
<hr>
<br />
<h3>1- @ViewChild Decorator</h3>

<h3>Exemple @ViewChild() usage - Step by step</h3>

<p>First thing you should realize is that on the HTML file of the child component you don´t have a selector of the
    parent component.
    so you can´t bind any property on selector. Because there is no parent selector on child HTML to bind.
    Like react, passing data from child to parent is mabe by using methods.But how it work?
</p>

<ol>
    <li>Create a variable inside the child component with the data you wnat to pass to parent component.</li>
    <li>In order to use @ViewChild() decorator it must be imported from @angular/core module as you imported the @input
        decorator before.</li>
    <li>The @ViewChild() decorator will be imported on the parent component.(The parent will see the child.)</li>
    <li>You have to pass, as an arg to @ViewChild() decorator , the child component you want to see and get data from.
    </li>
    <li>In order to pass the child component as an argument to @ViewChild decorator, you must import the component to
        parent component .ts file.</li>
    <li>Remember, react do not have dependeny injection, but Angular does. Once you inject the component on the buil in
        decorator , ViewChild(), all the propertys and methods of the child became accessible from the parent component.
    </li>
    <li>To look on console if you are receiving the data from child yoou must use ngAfterOninit life cicle hook. That´s
        because if you use the constructor or ngOnInit , the child component does not exists yet and will be display
        undefined on that life cicle momento.</li>
    <li>Just access child properties by using this. variable name and the child property or method.
    </li>
</ol>

<h3>Displaing data from child component:</h3>
<p>{{messageFromChild}}</p>
<br />
<hr>
<br />
<h3>2- @Output Decorator & Event Emitter</h3>

<h3>Exemple and usage - Step by step</h3>

<p>Ok. In React we pass data from child to parent by using args at a function passed as a prop. In Angular, the first
    way uses
    a similar approach. The parent component receives the child component as a arg on the @ViewChild decorator and set
    it to a variable so
    parent class can have access to all data and methods.
    The second way is when an event accours.
    Let´s see how it works.
</p>

<ol>
    <li>Create a variable on child component so you can share it to parent component.</li>
    <li>Import output decorator and eventemitter on child component from @angular/core module.</li>
    <li> Create Output decorator and asign a new instance of EventEmitter to the variable.</li>
    <li>inside the click method on children component you have to emmit the event with the data you want to send.</li>
    <li></li>
</ol>

<app-children1 (messageEvent)="receiveEvent($event)"></app-children1>
<br />
<p>{{messageFromChildUsingOutputAndEmitter}}</p>
<br />
<br />
<button routerLink="/">Voltar</button>